*{
   margin: 0;
   padding: 0;
}

body {
   background-color: #f5f5f5;
}

button {
   cursor: pointer;
}

.container{
   max-width: 1200px;
   margin: 0 auto ;
   padding: .2rem 0;
   & > .heading{
      margin-top: 1rem;
      margin-bottom: 1.25rem;
      text-align: center;
   }
   .row-card {
      display: grid;
      grid-template-columns: repeat(5,1fr) ;
      gap: 1rem;
      margin-top: 2rem;
   }
}

